.stratagems-page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  background-color: #1f1f1f;
  padding: 20px;
  border-radius: 10px;
}

.stratagems-page h1 {
  text-align: center;
  font-size: 2.5rem;
  color: #00aaff;
  margin-bottom: 20px;
}

.stratagem-columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  max-width: 1400px;
  width: 100%;
  box-sizing: border-box;
}

.stratagem-category {
  margin-bottom: 20px;
  width: 100%;
}

.stratagem-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 15px;
}

.stratagem-item {
  text-align: center;
  padding: 8px;
  background-color: #2c2c2c;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  width: 150px;
  max-width: 170px;
}

.stratagem-item-link {
  text-decoration: none;
  color: inherit;
}

.stratagem-item-link:hover .stratagem-item {
  transform: scale(1.05);
  box-shadow: 0 0 15px #00aaff;
}

.stratagem-image {
  width: 100%;
  height: auto;
  margin-bottom: 15px;
}

.stratagem-name {
  font-size: 1.2rem;
  color: #f0f0f0;
  text-transform: uppercase;
  text-decoration: none;
}

.stratagem-name:hover {
  color: #00aaff;
  text-decoration: underline;
}
